.container{
    padding: 1em 1em 2em 1em;
    margin-top: 10px;
    width: 282px;
    background-color: var(--cinza);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.capa{
    width: 100%;
    height: 420px;

}
.container h2, .favoritar{
    padding:  5px;
    display: block;
    margin: 0 auto;
}

.favoritar{

    width: 21px;;
}
.link {
    text-decoration: none;
    color: var(--preto);
    font-size: 12px;
    text-align: center;
    
}